* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Imagen centrada y ajustada */
.image-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

/* Contenedor de luciérnagas */
#fireflies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* Estilo de las luciérnagas */
.firefly {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    opacity: 0.8;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
    animation: move 15s linear infinite;
}

/* Movimiento animado */
@keyframes move {
    from {
        transform: translateY(0) translateX(0);
    }
    to {
        transform: translateY(-100vh) translateX(50vw);
    }
}
/* Boton de musica */
#play-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #1db954;
    color: purple;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#play-btn:hover {
    background: #17a347;
}

